<body>
  <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">peppr</h1>
                        <p class="intro-text">Save time on getting the right gig</p>
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <center><h2>About peppr</h2></center>
            <p>peppr is a new way for chefs around the world to put their skills on display for the future employers to see.</p>
            <p>This striking, black and white theme features stock photographs by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Map skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
        </div>
    </div>
    <hr>

    <center><div class="register">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <%= render 'form' %>
            </div>
        </div>
    </div></center>
    <hr>


    <div class="container">
      <h3 id="features" class="subhead">Packages</h3>
      <div class="row benefits">
        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-home"></span>
          </div>
          <h3>Skinny</h3>
          <p>Get the basic package.</p>
    </div>

    <div class="col-md-4 col-sm-6 benefit">
      <div class="benefit-ball">
        <span class="glyphicon glyphicon-cloud"></span>
      </div>
      <h3>Lean</h3>
      <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="col-md-4 col-sm-6 benefit">
      <div class="benefit-ball">
        <span class="glyphicon glyphicon-bell"></span>
      </div>
      <h3>Fit</h3>
      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
        </div>
      </div>
    </div>
    <hr>

    <center><div class="contact">
        <div class="col-lg-8 col-lg-offset-2">
            <h4>Contact peppr</h4>
            <p>Feel free to email us to provide some feedback on our service or if you have any question at all</p>
            <p>feedback@gopeppr.com</p>
            <ul class="list-inline banner-social-buttons">
                <li><a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li><a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li><a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div></center>
    <hr>




</body>