<div class="container content-section text-center">
  <div class="col-lg-8 col-lg-offset-2">
    <h2> Congratulations, <%= @user.name %> you are on your way </h2>
    <h3> Now lets look at your options: </h3>
  </div>
</div>

<div class="container">
      <h3 id="features" class="subhead">Packages</h3>
      <div class="row benefits">
        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-leaf"></span>
          </div>
          <h3><%= link_to "Skinny", member_path(@members) %></h3>
          <p>Get the basic package.</p>
    </div>

    <div class="col-md-4 col-sm-6 benefit">
      <div class="benefit-ball">
        <span class="glyphicon glyphicon-cloud"></span>
      </div>
      <h3><%= link_to "Lean", @member_path %></h3>
      <p>Just want to get started, try Lean. Put in your basic profile, and few pictures to showcase your skills. Always free</p>
    </div>

    <div class="col-md-4 col-sm-6 benefit">
      <div class="benefit-ball">
        <span class="glyphicon glyphicon-bell"></span>
      </div>
      <h3><%= link_to "Fit", @member_path %></h3>
      <p>This is a step up from Lean. You can upload up to 200MB of pictures and 2 videos. </p>
        </div>
      </div>
    </div>
    <hr>


